<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <p><%= message %></p>

    <h3>Welcome, <%= user %>!</h3>
    <a href="/logout">Logout</a><br /><br />
  </body>
</html>
